<!DOCTYPE html>
<html>
<head>
    <title>Tool Lists</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
    <h1>Choose your type of work</h1>
    <ul>
        <li><a href="/jobs/new/Painting">Paint job</a></li>
        <li><a href="/jobs/new/Framing">Framing</a></li>
        <li><a href="/jobs/new/Finish Carpentry">Finish Carpentry</a></li>
    </ul>
</body>
</html>