<!DOCTYPE html>
<html lang="en">
<head>
    <title>Job name</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Job name: <%= job.name %></h1>
    <p>Address: <%= job.address %></p>
    <h2>Tools List</h2>
<ul>
    <% tools.forEach(function(tool) { %>
        <li><%= tool.name %></li>
    <% }); %>
</ul>
<form action="/jobs/<%= job._id %>?_method=DELETE" method="post">
    <button type="submit">Delete Job</button>
</form>
    <a href="/jobs">Back to Jobs List</a>
</html>