<!DOCTYPE html>
<html>
<head>
    <title>List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form action="/lists" method="POST">
        <label for="name">List Name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Create List</button>
    </form>
    <a href="/">Back Home</a>
</body>
</html>