<!DOCTYPE html>
<html>
<head>
    <title>List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <% lists.forEach(list => { %>
        <div>
            <h3><%= list.name %></h3>
            <ul>
                <% list.tools.forEach(tool => { %>
                    <li><%= tool.name %></li>
                <% }); %>
            </ul>
            <a href="/lists/<%= list._id %>">View List</a>
        </div>
    <% }); %>
    <a href="/">Back Home</a>
</body>
</html>